* {
    margin: 0;
    padding: 0;
}

/* Pagina Inicio */

.body1 {
    background: url(images/logofondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.inicio ul {background-color: blueviolet; width: 100%; height: 30px;}

.inicio ul {
    display: grid; grid-template-columns: auto auto auto auto ;
    justify-items: center
;
}

.inicio nav ul li {

    display: inline-block;
    padding-top: 5px;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
}

.inicio ul li a {
    list-style: none;
    text-decoration: none;
}


.logosredes  {
    display: flex;
  
; justify-content: center;
}

.logosredes img {Margin: 20px}


/* contrataciones */

.body2 {
    background: url(images/retro-2426631_1920.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

form label {
    color: blanchedalmond;
}

form legend {
    color: blanchedalmond;
}


/* ¿por qué trabajar conmigo? */

.body3 {
    background: url(images/retro-2426631_1920.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


/* servicios */

.body4 {
    background: url(images/retro-2426631_1920.png);
    background-size: 100%;
    background-repeat: no-repeat;
}



/* Sobre mi */

.foto {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: right;
    }

.textosobremi { margin: 5px;

}

table {display: flex; justify-content: center;
    color: white; margin-top: 20px;
}

.body5 {
    background: url(images/retro-2426631_1920.png);
    background-size: 100%;
    background-repeat: no-repeat;
}



/* varios */

.youtube {
    padding: 11px;
    margin-left: 300px;
}

header ul {background-color: blueviolet; width: 100%; height: 30px;}

.header ul {
    display: grid; grid-template-columns: auto auto auto auto auto;
    justify-items: center
;
}


.header nav ul li {

    display: inline-block;
    padding-top: 5px;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    color: aliceblue;
}

h1 {
    color: azure;
}

p {
    font-size: 18px;
    color: azure;
    font-style: normal;
    box-shadow: 10px black;
    -webkit-text-stroke: 0.1px black;
}

.back {
    size: 100px;
    margin-left: 1130px;
}




.saludo1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 1px;
    text-align: center;
    border-top-width: 30px;
    margin-top:
        450px;
}

/* footer */

footer {
    color: aliceblue;
}

/* Media Q */

@media screen and (max-width: 1200px) {
    
Body {background-color: blueviolet;}

.inicio ul {background-color: blueviolet;}

.inicio ul {
    display: grid; grid-template-rows: auto auto auto auto ;
    justify-items: center
;
}

.inicio nav ul li {

display: flex;
    padding-top: 5px;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
}

.inicio ul li a {
    list-style: none;
    text-decoration: none;
}


.logosredes  {
    display: flex;
  
; justify-content: center;
}

.logosredes img {Margin: 20px}

}
